        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            background-image: url("img/geometri.jpg");
            background-repeat: no-repeat;
        }
        
        div.container {
            text-align: center;
        }
        
        input {
            width: 10rem;
            min-width: 5px;
            max-width: 300px;
        }
        
        @media only screen and (max-width:480px) {
            input {
                width: 2px;
            }
        }
        
        @media only screen and (min-width:1336px) {
            input {
                width: 14.5rem;
            }
        }
        
        @media only screen and (min-width:481px) and (max-width:760px) {
            input {
                width: 5.5rem;
            }
        }
        
        #timestamp {
            font-size: 12.5px;
            font-family: 'Courier New', Courier, monospace;
        }
        
        #submit,
        #reset {
            color: white;
            font-size: 13px;
        }
        
        #brand {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            font-size: 25px;
            color: grey;
        }
        /*--login form above--*/
        
        #title {
            margin-left: 40px;
            margin-bottom: 3px;
            padding-bottom: 5px;
            font-size: 20px;
            font-weight: bold;
        }